body {
  background: #24a8dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4a569d,
    #dc2424
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4a569d, #dc2424);
}

.hello {
  font-family: "Alegreya", serif;
  font-size: 100px;
  text-align: center;
  padding-left: 30px;
  margin-bottom: 35px;
  margin-top: 12px;
}

.intro,
.intro2 {
  text-align: center;
}
.intro {
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.intro2 {
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.icon1_div {
  text-align: center;
  word-spacing: 35px;
}
.fa {
  color: rgba(0, 0, 0, 0.904) !important;
}
.toms_image {
  width: 12rem;
  border: rgba(29, 7, 156, 0.397) 4px solid;
  border-radius: 50%;
}
.image_div {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}
