.hello {
  font-family: "Alegreya", serif;
  font-size: 100px;
  text-align: center;
  padding-left: 30px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.intro {
  text-align: center;
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.intro2 {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 25px;
}
.icon1_div {
  text-align: center;
  word-spacing: 35px;
}
.fa {
  color: rgba(0, 0, 0, 0.904) !important;
}
.toms_image {
  width: 12rem;
  border: rgba(29, 7, 156, 0.397) 4px solid;
  border-radius: 50%;
}
.image_div {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}
@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
